#app-mount {
	background: url('https://lucifer990.github.io/games/PmYI9Mu111.png')
		center/cover no-repeat;
}

.tutorialContainer__890ea .svg_ad7356 {
	background: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_light-theme.png')
		center/contain no-repeat;
}

#app-mount:before {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
			to right,
			rgba(249,209,209,1.000),
			transparent 30%,
			transparent 80%,
			rgba(249,209,209,1.5)
		),
		radial-gradient(transparent 50%, rgba(249,209,209,1.5));
	user-select: none;
	pointer-events: none;
}

.theme-dark .mentioned__58017 a.anchor-1MIwyf {
	background-color: var(--color-high-trans);
	border-radius: 0.25em;
}

::selection {
	background-color: var(--color-alert);
	color: var(--color-high);
